# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
.env/
.venv/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables and secrets
.env
.env.*

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and coverage outputs
htmlcov/
.tox/
.nox/
.coverage
coverage.xml

# PyInstaller
build/
dist/
*.spec

# MyPy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/ 